header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 0px;
    margin-top: 0.7vw;
  }
  
  img.logoheader {
    width: 3.1vw;
    height: 3.1vw;
    margin-left: 1.5vw;
    margin-top: 0.4vw;
  }
    
  ul {
    position:relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    }
    
    li a.youtube {
      position: absolute;  
      color: rgb(255, 255, 255);
      margin-left: 89vw;
      margin-top: 0.5vw;
    }
  
    img.youtube1 {
      width: 2vw;
      height: 2vw;
    }
  
    img.youtube1:hover {
      opacity: 70%;
    }
  
    li a.instagram {
      position: absolute;  
      color: rgb(255, 255, 255);
      margin-left: 92.8vw;
      margin-top: 0.7vw;
    }
  
    img.instagram1 {
      width: 1.6vw;
      height: 1.6vw;
    }
  
    img.instagram1:hover {
      opacity: 70%;
    }
  
    li a.twitter {
      position: absolute;  
      color: rgb(255, 255, 255);
      margin-left: 96vw;
      margin-top: 0.61vw;
    }
  
    img.twitter1 {
      width: 1.8vw;
      height: 1.8vw;
    }
  
    img.twitter1:hover {
      opacity: 70%;
    }
    
    li a:hover {
      color: rgb(58, 2, 2);
  }